# --- 1. Deployment 定义 (负责跑程序) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simpleproject
  namespace: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simpleproject
  template:
    metadata:
      labels:
        app: simpleproject
    spec:
      # 必须有拉取镜像的凭证
      imagePullSecrets:
        - name: harbor-auth
      containers:
        - name: app
          # 这里用变量，Jenkins 会用 sed/envsubst 替换成真实地址
          image: $FULL_IMAGE_NAME
          ports:
            - containerPort: 8280  # 你的程序实际监听的端口
              name: http

---
# --- 2. Service 定义 (负责网络转发) ---
apiVersion: v1
kind: Service
metadata:
  name: simpleproject-svc
  namespace: jenkins
spec:
  type: NodePort  # 关键类型：允许通过节点端口访问
  selector:
    app: simpleproject # 必须和 Deployment 的 labels 对应
  ports:
    - name: http
      port: 80         # ClusterIP 内部访问端口 (集群内其他服务访问用)
      targetPort: 8280 # 目标端口：转发给 Pod 的哪个端口 (必须是 8280)
      nodePort: 30080  # 节点端口：外部访问入口 (必须是 30080)